.olz-customizable-home {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 -5px -10px;
}

.tile-container {
    padding: 5px 0 10px 10px;
    width: 100%;

    .tile {
        position: relative;
    }
}

.tile h2 {
    margin-top: 5px;
    text-align: center;
}

.tile .olz-editable-text p,
.tile ul li {
    margin: 2px 0 4px;
}

.tile .center {
    text-align: center;
}

.tile ul.links {
    text-align: left;
    margin: 0;

    li a.one-line {
        display: inline-block;
        height: 24px;
        line-height: 24px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    li.min-two-lines {
        min-height: 36px;
        line-height: 18px;
    }

    .flex {
        display: flex;
        align-items: center;

        .link-icon {
            margin-right: 2px;
        }

        .link-image-left {
            margin-right: 8px;
        }

        .link-image-right {
            margin-left: 8px;
        }
    }

    .secondary {
        margin-left: 6px;
        font-style: italic;
    }
}

.tile .link-icon {
    display: inline-block;
    border: 0;
    height: 16px;
    margin: -2px 0 -1px;
}

.tile .newsletter-link {
    display: inline-block;
    height: 16px;
    margin-left: 8px;

    .newsletter-link-icon {
        border: 0;
        height: 24px;
        margin: -6px 0 -2px;
    }
}

.tile .header-link {
    display: inline-block;
    height: 16px;

    .header-link-icon {
        height: 16px;
        margin: -6px 0 -2px;
    }
}

@media screen and (min-width: 560px) {
    .tile-container {
        width: 50%;
    }
}

@media screen and (min-width: 840px) {
    .tile-container {
        width: 33.33%;
    }
}
