@use '../../../../Components/Common/OlzStyles/colors' as colors;

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', arial, sans-serif;
}

.content-full {
    position: relative;
}

#edit-result-button {
    float: right;
}

#title-box {
    height: 50px;
    overflow: hidden;
    padding: 0 10px;
}

#title-box #title {
    line-height: 50px;
    margin: 0;
    padding: 0;
}

#results-content {
    display: flex;
}

#classes-box {
    flex: 0 0 200px;
    overflow: auto;
}

#content-box {
    flex: 1 0 450px;
    overflow: auto;

    .result-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .cell {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 1px 3px;

            &.checkbox {
                flex: 0 0 16px;
                display: flex;
            }

            &.position {
                flex: 0 0 20px;
                text-align:right;
            }

            &.name {
                flex: 1 0 100px;
            }

            &.year {
                flex: 0 0 20px;
                text-align:right;
            }

            &.domicile {
                flex: 1 0 100px;
            }

            &.club {
                flex: 1 0 100px;
            }

            &.time {
                flex: 0 0 42px;
                text-align:right;
            }
        }
    }
}

#grafik-box {
    flex: 1 0 350px;
    min-height: 400px;
    max-height: 1000px;
    overflow: auto;
}

.classlink {
    background: linear-gradient(rgb(250, 250, 250), rgb(200, 200, 200));
    color: rgb(0, 0, 0);
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

.classlink.selected,
.classlink:active {
    background: linear-gradient(colors.$olz-bg-dark, colors.$olz-bg-bright);
}

#backbutton {
    display: none;
}

.mobileonly {
    display: none;
}

.inactive {
    visibility: visible;
}

@media (max-width:1000px) {
    #title-box {
        height: 36px;
        padding: 0;
    }

    #title-box #title {
        line-height: 36px;
    }

    #classes-box {
        flex: 1 0 100%;

        &.inactive {
            display: none;
        }
    }

    #content-box {
        flex: 1 0 100%;

        &.inactive {
            display: none;
        }
    }

    #grafik-box {
        flex: 1 0 100%;

        &.inactive {
            display: none;
        }
    }

    #backbutton {
        cursor: pointer;
        display: block;
        float: left;
        height: 36px;
        line-height: 36px;
        text-align: center;
        width: 36px;
    }

    .mobileonly {
        display: block;
    }

    .inactive {
        visibility: hidden;
    }
}
