/*

// =============================================================================
// Alle CSS Definitionen der Website.
// =============================================================================

*/

@use '../../../Components/Common/OlzStyles/colors' as colors;

body {
    background-image: url('../../../../assets/icns/brushedbgschwarz.png');
    color: rgb(0, 0, 0);
    font-size: 12px;
    z-index: -2;
    word-wrap: break-word; // @deprecated?
    overflow-wrap: break-word;
}

input {
    font-size: 12px;
}

* {
    border: 0;
    font-family: 'Open Sans', arial, sans-serif;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;
    table-layout: auto;
    width: 100%;

    td {
        vertical-align: top;
    }
}

.mainbg {
    background-color: #f2f2f2;
    background-image: url('../../../../assets/icns/mainbg.svg');
    background-repeat: repeat;
}

ul {
    list-style-type: disc;
    padding-left: 16px;

    &.no-style {
        list-style-type: none;
        padding-left: 0;
    }
}

.banner {
    background-color: colors.$banner-bg;
    border-bottom: 1px solid colors.$olz-bg-dark;
    border-top: 1px solid colors.$olz-bg-dark;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
}

.bar {
    position: sticky;
    top: 75px;
    transition: top 0.5s;
    z-index: 11;
    height: 22px;
    line-height: 22px;
    margin: 0 -10px;
    border: 0;
    padding: 0 14px;
    font-size: 14px;
    font-weight: bold;

    &.green {
        background: linear-gradient(colors.$olz-bg-ultra-bright, colors.$olz-bg);
        background-color: colors.$olz-bg-bright;
    }    
}

.header-minified {
    .bar {
        top: 42px;
    }
}


@media screen and (min-width: 832px) {
    .bar {
        margin: 0;
        padding: 0 4px;
    }
}

/*-----------ABSTAENDE-------------*/

.section,
li {
    margin: 0 0 4px;
    padding: 0;
}

p,
ul {
    margin: 4px 0 8px 0;
}

/*-----------HINTERGRUND-------------*/

a,
span,
div,
li {
    background: no-repeat left top;
}


/*-------SCHRIFTEIGENSCHAFTEN--------*/
h1 {
    font-size: 28px;
    margin: 14px 0 7px;
}

h2 {
    font-size: 22px;
    margin: 12px 0 6px;
}

h3 {
    font-size: 20px;
    margin: 10px 0 5px;
}

h4 {
    font-size: 18px;
    margin: 8px 0 4px;
}

h5 {
    font-size: 16px;
    margin: 6px 0 3px;
}

h6 {
    font-size: 14px;
    margin: 4px 0 2px;
}

.bg-bright a,
a {
    color: colors.$olz-bg-dark;
    text-decoration: none;

    &:hover {
        color: #000;
    }
}

.error,
.is-invalid {
    color: var(--bs-form-invalid-border-color) !important;
    border-color: var(--bs-form-invalid-border-color) !important;
}

/*-----------------LINKS------------------*/
/* für a, span, div, li */
.linkblack,
.linkduplicate,
.linkedit,
.linkext,
.linkimg,
.linkint,
.linkmail,
.linkmap,
.linkmovie,
.linkneu,
.linkoev,
.linkol,
.linkpdf,
.linkrole {
    background-position: left center;
}

.linkblack,
.linkedit,
.linkext,
.linkimg,
.linkint,
.linkmail,
.linkmap,
.linkmovie,
.linkneu,
.linkoev {
    padding: 0 6px 0 16px;
}

.linkol,
.linkpdf,
.linkrole {
    padding: 0 6px 0 19px;
}

.linkblack {
    background-image: url('../../../../assets/icns/link_internal_selected_16.svg');
}

.linkedit {
    background-image: url('../../../../assets/icns/edit_16.svg');
}

.linkduplicate {
    background-image: url('../../../../assets/icns/duplicate_16.svg');
}

.linkext {
    background-image: url('../../../../assets/icns/link_external_16.svg');
}

.linkimg {
    background-image: url('../../../../assets/icns/link_slides_16.svg');
}

.linkint {
    background-image: url('../../../../assets/icns/link_internal_16.svg');
}

.linkmap {
    background-image: url('../../../../assets/icns/link_map_16.svg');
}

.linkmail {
    background-image: url('../../../../assets/icns/link_mail_16.svg');
}

.linkmovie {
    background-image: url('../../../../assets/icns/link_movie_16.svg');
}

.linkneu {
    background-image: url('../../../../assets/icns/new_16.svg');
}

.linkoev {
    background-image: url('../../../../assets/icns/publ_transport_16.svg');
}

.linkol {
    background-image: url('../../../../assets/icns/orienteering_forest_16.svg');
}

.linkpdf {
    background-image: url('../../../../assets/icns/link_pdf_16.svg') !important;
}

.linkrole {
    background-image: url('../../../../assets/icns/link_role_16.svg');
}

.pretty a,
.rendered-markdown a {
    background-position: left center;
    padding: 0 6px 0 19px;
    background-image: url('../../../../assets/icns/link_null_16.svg');

    &[href^='/'], &[href^='https://olzimmerberg.ch'], &[href^='https://www.olzimmerberg.ch'] {
        background-image: url('../../../../assets/icns/link_internal_16.svg');
    }

    &[href^='http://'], &[href^='https://'] {
        background-image: url('../../../../assets/icns/link_external_16.svg');
    }

    &[href$='.pdf'], &[href*='.pdf?'] {
        background-image: url('../../../../assets/icns/link_pdf_16.svg');
    }

    &[href$='.doc'], &[href*='.doc?'],
    &[href$='.docx'], &[href*='.docx?'] {
        background-image: url('../../../../assets/icns/link_doc_16.svg');
    }

    &[href$='.ppt'], &[href*='.ppt?'],
    &[href$='.pptx'], &[href*='.pptx?'] {
        background-image: url('../../../../assets/icns/link_ppt_16.svg');
    }

    &[href$='.xls'], &[href*='.xls?'],
    &[href$='.xlsx'], &[href*='.xlsx?'] {
        background-image: url('../../../../assets/icns/link_xls_16.svg');
    }

    &[href$='.zip'], &[href*='.zip?'] {
        background-image: url('../../../../assets/icns/link_zip_16.svg');
    }

    &[href$='.csv'], &[href*='.csv?'],
    &[href$='.rtf'], &[href*='.rtf?'],
    &[href$='.txt'], &[href*='.txt?'],
    &[href$='.vcf'], &[href*='.vcf?'],
    &[href$='.xml'], &[href*='.xml?'] {
        background-image: url('../../../../assets/icns/link_txt_16.svg');
    }

    &[href$='.html'], &[href*='.html?'],
    &[href$='.htm'], &[href*='.htm?'] {
        background-image: url('../../../../assets/icns/link_html_16.svg');
    }

    &[href$='.gif'], &[href*='.gif?'],
    &[href$='.jpg'], &[href*='.jpg?'],
    &[href$='.jpeg'], &[href*='.jpeg?'],
    &[href$='.png'], &[href*='.png?'] {
        background-image: url('../../../../assets/icns/link_image_16.svg');
    }

    &[href^='mailto:'] {
        background-image: url('../../../../assets/icns/link_mail_16.svg');
    }

    &.linkrole {
        background-image: url('../../../../assets/icns/link_role_16.svg');
    }
}

.rendered-markdown .lightgallery a[href],
.rendered-markdown a[data-src] {
    padding: 0;
    background: none;
}

.rendered-markdown table thead {
    background: linear-gradient(colors.$olz-bg-ultra-bright, colors.$olz-bg);
    background-color: colors.$olz-bg-bright;
}

.rendered-markdown table th,
.rendered-markdown table td,
.boxy td {
    padding: 1px 8px 2px;
}

.rendered-markdown table th,
.rendered-markdown table td,
.boxy td {
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}

.rendered-markdown table.equal {
    table-layout: fixed;
}

.rendered-markdown .float-right {
    float: right;
}

.rendered-markdown .clear-both {
    clear: both;
}

.responsive-flex {
    display: flex;
    flex-direction: column;

    .responsive-flex-2 {
        width: 100%;
    }
}

.olz-override-root .lg-backdrop {
    background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 832px) {
    .responsive-flex {
        flex-direction: row;
    
        .responsive-flex-2 {
            width: 50%;
        }
    }
}
