#edit-termin-template-modal {
    .modal-dialog {
        max-width: 1280px;
        width: 95%;
    }

    #text-input {
        height: 250px;
    }

    .shouldPromote-container {
        margin-top: 28px;
    }

    #types-container {
        margin-top: 10px;
    }

    .types-option {
        margin-right: 30px;

        input {
            margin-right: 10px;
        }
    }

    .hasNewsletter-container {
        text-align: right;
    }

    #shouldPromote-input,
    #hasNewsletter-input {
        margin-right: 10px;
    }
}
