.menu {
    background-color: #f2f2f2;
    background-image: url('../../../../assets/icns/mainbg.svg');
    background-repeat: repeat;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.8);
    padding: 0;
    position: absolute;
    width: 180px;
}

.back-menu {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 197, 0);

    .menu-link {
        border-bottom: 1px solid rgb(95, 235, 31);
    }
}

.live-menu {
    color:#550000;
    background-color:rgb(204, 0, 0);

    .menu-link {
        border-bottom:1px solid rgb(235, 95, 31);

        .menutag:hover {
            background-color:rgb(238, 0, 0);
        }
    }
}

.main-menu {
    background: linear-gradient(rgb(0, 140, 0), rgb(0, 180, 0));
    background-color: rgb(0, 160, 0);

    .menu-link {
        border-bottom: 1px solid rgb(95, 235, 31);

        h1 {
            background-color: rgba(95, 235, 31, 0.6);
        }
    }

    .separator {
        background-color: rgb(0, 197, 0);
        height:3px;
        border-bottom:1px solid rgb(95, 235, 31);
    }
}

.back-icon {
    border: 0;
    margin: -2px 4px 0 0;
}

.menu-link {
    display: block;
    color: rgb(0, 30, 0);
    text-decoration: none;

    .menutag {
        font-weight: bold;
        font-size: 16px;
        height: 33px;
        line-height: 33px;
        padding: 0 5px 0 10px;
        margin: 0;
        background-color: rgba(0, 250, 0, 0);
        transition: background-color 500ms linear;

        &:hover {
            background-color: rgba(95, 235, 31, 0.6);
            transition: background-color 100ms linear;
        }
    }
}

#site-search {
    width: 100%;
    color: rgb(136, 136, 136);
    padding: 3px;
    background-color: rgb(238, 238, 238);
    border-width: 1px 0;
    border-color: rgb(170, 170, 170);
    margin-top: 24px;

    &:focus {
        color: rgb(0, 0, 0);
    }
}

.sysadmin-mail {
    padding: 24px 6px 0 6px;
}

.platform-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 6px;

    .platform-link {
        margin-left: 8px;

        &:hover {
            img {
                filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .menu {
        background: none;
        box-shadow: none;
    }
}
