.menu {
    background-color: #f2f2f2;
    background-image: url('../../../../public/icns/mainbg.svg');
    background-repeat: repeat;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.8);
    padding-top: 15px;
    position: absolute;
    width: 180px;
}

.menu-link {
    display: block;

    &:hover {
        text-decoration: none;
    }

    > div,
    > h1 {
        font-weight: bold;
        margin: 0;
    }

    &.font-size-large {
        > div,
        > h1 {
            font-size: 16px;
            height: 34px;
            line-height: 32px;
            padding: 0 5px 0 10px;
        }
    }

    &.font-size-small {
        > div,
        > h1 {
            font-size: 11px;
            height: 24px;
            line-height: 22px;
            padding: 0 5px 0 10px;
        }
    }
}

#site-search {
    width: 100%;
    color: #888888;
    padding: 3px;
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
    margin-top: 24px;
}

.sysadmin-mail {
    padding: 24px 6px 0 6px;
}

.platform-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 6px 6px 0 6px;

    .platform-link {
        margin-left: 8px;

        &:hover {
            img {
                filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .menu {
        background: none;
        box-shadow: none;
    }
}
