/deploy
/deploy.zip
/dev-server/*
!/dev-server/_
!/dev-server/config.template.php
!/dev-server/deploy
!/dev-server/dump.php
!/dev-server/index.php
!/dev-server/reset.php
/screenshots
/src/olz_ical.ics
/src/screenshots/generated
/tests/document-root/*
!/tests/document-root/config.template.php
/vendor
.php_cs.cache
