/config/olz.dev.php
/config/olz.test.php
/deploy
/deploy.zip
/docs/coverage
/public/*
!/public/.htaccess
!/public/icns
!/public/index.php
!/public/tools.php
/screenshots
/src/Utils/data/tmp/*
/_/tools/tmp/*
/_/olz_ical.ics
/_/screenshots/generated
/_/tools/tmp/*
/tools/fuer_einsteiger/img/*
/tools/fuer_einsteiger/originals/*
/tools/fuer_einsteiger/thumb/*
/tools/fuer_einsteiger/unused/*

# PHP tooling
/var
/vendor
/php-coverage
.php-cs-fixer.cache
.php_cs.cache
.phpunit.result.cache
/tests/IntegrationTests/document-root/*
!/tests/IntegrationTests/document-root/README.md
/tests/UnitTests/tmp/*

# JavaScript tooling
/coverage
/node_modules/
/tscbuild/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
