/deploy
/deploy.zip
/dev-server/*
!/dev-server/_
!/dev-server/config.template.php
!/dev-server/deploy
!/dev-server/index.php
!/dev-server/tools.php
/screenshots
/src/olz_ical.ics
/src/resultate/live_uploader/public_html/data
/src/screenshots/generated

# PHP tooling
/vendor
.php_cs.cache
/tests/unit_tests/document-root/*
!/tests/unit_tests/document-root/config.template.php

# JavaScript tooling
/node_modules/
/src/**/jsbuild/
