parameters:
    level: 7
    paths:
        - bin/
        - config/
        - public/
        - src/
        # - tests/ # TODO: Re-enable
        - Deploy.php
    doctrine:
        objectManagerLoader: tests/object-manager.php
