<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    forceCoversAnnotation="false"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="KERNEL_CLASS" value="Olz\Kernel" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5" />
    </php>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./tests/UnitTests</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>./tests/IntegrationTests</directory>
        </testsuite>
    </testsuites>
    <coverage 
        cacheDirectory="./php-coverage/cache"
        includeUncoveredFiles="true"
        processUncoveredFiles="true"
        pathCoverage="false"
        ignoreDeprecatedCodeUnits="true"
        disableCodeCoverageIgnore="false"
    >
        <include>
            <directory suffix=".php">./src/Api</directory>
            <directory suffix=".php">./src/Apps</directory>
            <directory suffix=".php">./src/Fetchers</directory>
            <!-- <directory suffix=".php">./src/model</directory> -->
            <directory suffix=".php">./src/News/Endpoints</directory>
            <directory suffix=".php">./src/News/Utils</directory>
            <directory suffix=".php">./src/Parsers</directory>
            <directory suffix=".php">./src/Startseite/Components</directory>
            <directory suffix=".php">./src/Startseite/Endpoints</directory>
            <directory suffix=".php">./src/Tasks</directory>
            <directory suffix=".php">./src/Termine/Utils</directory>
            <directory suffix=".php">./src/Utils</directory>
        </include>
        <exclude>
            <file>./src/api/index.php</file>
        </exclude>
        <report>
            <!-- <clover outputFile="php-coverage/clover.xml"/> -->
            <!-- <crap4j outputFile="php-coverage/crap4j.xml" threshold="50"/> -->
            <html outputDirectory="php-coverage/html-coverage" lowUpperBound="50" highLowerBound="90"/>
            <!-- <php outputFile="php-coverage/coverage.php"/> -->
            <text outputFile="php-coverage/coverage.txt" showUncoveredFiles="false" showOnlySummary="false"/>
            <!-- <xml outputDirectory="php-coverage/xml-coverage"/> -->
        </report>
    </coverage>
</phpunit>
