.olz-override-root .header-bar {
    position: absolute;
}

.olz-override-root * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
