.olz-override-root .header-bar,
.olz-override-root .fixed-top,
.olz-override-root .sticky-top {
    position: absolute;
}

.olz-override-root * {
    transition: none !important;
}

.olz-override-root .modal {
    position: absolute;
}