.feature {
    &.external-login {
        display: none;

        &.enabled {
            display: block;
        }
    }

    &.sign-up {
        display: none;

        &.enabled {
            display: block;
        }
    }
}