.anniversary-container {
    display: block;
    height: 220px;
    background-color: rgba(0,0,0,0.05);
    border-radius: 3px;

    .anniversary-h3 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin: 0;
        padding: 10px 0 5px;
        z-index: 1;
        pointer-events: none;
    }

    .all-bar {
        position: absolute;
        left: 10px;
        bottom: 10px;
        width: 30px;
        height: 160px;
        background-color: rgba(0,0,0,0.1);
    }

    .done-bar {
        position: absolute;
        left: 10px;
        bottom: 10px;
        width: 30px;
        background-color: #008800;
    }

    .rocket {
        position: absolute;
        left: 0px;

        svg {
            width: 50px;
        }
    }

    .elevation {
        color: #000;
        position: absolute;
        left: 50px;
        right: 10px;
        top: 50px;
        height: 60px;
        font-size: 13px;

        .title {
            font-weight: bold;
            font-size: 14px;
            text-align: left;
            margin-bottom: 3px;
        }
    }

    .zielsprint {
        color: #000;
        position: absolute;
        left: 70px;
        right: 10px;
        top: 120px;
        bottom: 10px;
        font-size: 12px;
        border-left: 1px solid #000;

        .title {
            font-weight: bold;
            font-size: 14px;
            text-align: center;
            margin-bottom: 3px;
        }
    }

    &:hover {
        background-color: #00aa00;

        .anniversary-h3 {
            // text-shadow: 1px 1px 3px #000;
        }
    }
}