.anniversary-container {
    display: block;
    height: 220px;
    background-color: rgba(0,0,0,0.05);
    border-radius: 3px;

    .anniversary-h3 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin: 0;
        padding: 10px 0 5px;
        z-index: 1;
        pointer-events: none;
    }

    .done-range {
        position: absolute;
        left: 10px;
        bottom: 10px;
        width: 20px;
        height: 160px;
        background-color: rgba(0,0,0,0.1);
    }

    .done-bar {
        position: absolute;
        left: 10px;
        bottom: 10px;
        width: 20px;
        background-color: #008800;
    }

    .rocket {
        position: absolute;
        left: -5px;

        svg {
            width: 50px;
        }
    }

    .diff-range {
        position: absolute;
        left: 40px;
        bottom: 10px;
        width: 10px;
        height: 160px;
        background-color: rgba(0,0,0,0.1);
    }

    .diff-bar {
        position: absolute;
        left: 40px;
        width: 10px;

        &.ahead {
            bottom: 90px;
            background-color: #008800;
        }

        &.behind {
            top: 130px;
            background-color: #aa0000;
        }
    }

    .diff-marker {
        position: absolute;
        left: 38px;
        bottom: 90px;
        width: 14px;
        border-top: 1px solid black;
    }

    .elevation {
        color: #000;
        position: absolute;
        left: 60px;
        right: 10px;
        top: 50px;
        height: 60px;
        font-size: 12px;

        .title {
            font-weight: bold;
            font-size: 14px;
            text-align: left;
            margin-bottom: 3px;
        }

        .done-text {
            font-weight: bold;
        }

        .diff-meters,
        .diff-days {
            font-weight: bold;

            &.ahead {
                color: #008800;
            }

            &.behind {
                color: #aa0000;
            }
        }
    }

    .zielsprint {
        color: #000;
        position: absolute;
        left: 80px;
        right: 10px;
        top: 120px;
        bottom: 10px;
        font-size: 12px;
        border-left: 1px solid #000;

        .title {
            font-weight: bold;
            font-size: 14px;
            text-align: center;
            margin-bottom: 3px;
        }

        table {
            width: 100%;
            table-layout: fixed;
        }

        td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            vertical-align: middle;

            &:first-child {
                width: 20px;
                font-size: 14px;
            }

            &:last-child {
                width: 30px;
                text-align: right;
            }
        }
    }

    &:hover {
        background-color: #00aa00;
    }
}