.olz-popup .popup {
    background-color: #d4e7ce;
    border: 1px solid #007521;
    display: none;
    padding: 5px 10px 5px 5px;
    position: absolute;
}

.olz-popup .trigger {
    cursor: pointer;
}
