#link-telegram-modal {
    .telegram-circle {
        align-items: center;
        background-color: rgb(43, 162, 213);
        border-color: rgb(43, 162, 213);
        border-radius: 25px;
        color: rgb(255, 255, 255);
        display: flex;
        height: 50px;
        justify-content: center;
        width: 50px;

        img {
            border: 0;
            height: 35px;
            padding-right: 2px;
            width: 35px;
        }
    }

    .todo-list {
        margin: 20px 20px 10px;
    }
}
