@use '../../../styles/colors' as colors;

.olz-upload-image {
    background-color: colors.$white-background-color;
    border: 1px solid colors.$white-border-color;
    border-radius: 2px;
    margin: 4px 0;
    padding: 4px;
}
