@use '../../../Components/Common/OlzStyles/colors' as colors;

.tile ul.links {
    .bubble {
        background-color: colors.$banner-bg;
        border: 1px solid colors.$olz-bg-dark;
        border-radius: 8px;
        overflow: hidden;
        min-height: 36px;
        line-height: 18px;
        min-width: 55%;

        .title {
            flex-grow: 1;
            text-align: left;
        }

        .date {
            align-self: flex-end;
            color: colors.$olz-bg-dark;
            font-size: 9px;
            margin-left: 6px;
            margin-right: -4px;
        }
    
        &.flex {
            display: inline-flex;
        }
    }

    .left {
        text-align: left;

        .bubble {
            margin-right: 30px;
            padding-right: 8px;
            border-bottom-left-radius: 0;
        }
    }

    .right {
        text-align: right;

        .bubble {
            margin-left: 30px;
            padding-left: 8px;
            border-bottom-right-radius: 0;
        }
    }
}