.olz-captcha {
    text-align: center;

    .captcha-intro {
        margin: 20px;
    }

    #start-captcha-button {
        margin-top: 20px;
    }

    .captcha-canvas {
        margin: 10px -1rem -10px;
        touch-action: none;
    }

    #captcha-dev {
        opacity: 0.01;
    }
}