.olz-captcha {
    text-align: center;

    .captcha-instructions {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
    }

    .captcha-canvas {
        touch-action: none;
    }

    #captcha-dev {
        opacity: 0.01;
    }
}