.create-termin-container {
    float: right;
}

.termine-list-admin-menu {
    .entry {
        font-weight: bold;
    }
}

.olz-no-access {
    margin-top: 50px;
    text-align: center;

    .auth-buttons {
        margin: 20px 50px;

        .btn {
            margin: 0 10px;
        }
    }
}
