.content-middle {
    border-left: solid 2px #fff;
    border-right: solid 2px #fff;
    height: 100%;
    margin: 0;
    padding: 0 10px 10px;
    position: relative;
}

.content-right {
    height: 100%;
    float: none;
    width: auto;

    &.optional {
        display: none;
    }
}

.content-full {
    height: 100%;
    margin: 0;
    padding: 0 10px 10px;
    position: relative;
}

@media screen and (min-width: 832px) {
    .content-middle {
        margin: 0 300px 0 0;
    }

    .content-right {
        float: right;
        width: 300px;

        &.optional {
            display: block;
        }
    }
}

@media screen and (min-width: 1024px) {
    .content-middle {
        margin: 0 300px 0 180px;
    }

    .content-full {
        margin: 0 0 0 180px;
    }
}
