.olz-news-filter {
    padding: 0 3px 6px 3px;

    .filters {
        margin: 8px 0;
    }

    .title {
        font-weight: bold;
        margin-right: 4px;
    }

    .format-filter-icon {
        display: inline-block;
        border: 0;
        height: 16px;
        margin: -2px 2px -1px 0;
    }
}

@media screen and (min-width: 832px) {
    .olz-news-filter {
        .format-filter-icon {
            margin: -2px 5px -1px 0;
        }

        .separator {
            display: none;
        }
    }
}
