.olz-news-filter {
    padding: 0 3px 6px 3px;

    .filters {
        margin: 8px 0;
    }

    .title {
        font-weight: bold;
        margin-right: 4px;
    }
}

@media screen and (min-width: 832px) {
    .olz-news-filter {
        .separator {
            display: none;
        }
    }
}
