.bg-email {
    background-color: rgb(184, 132, 40);
}

.email-card {
    margin: 1px;
    min-width: 50%;

    p {
        margin: 0 0 1rem 0;
    }

    img {
        border: 0;
    }

    .card-header {
        display: flex;
        align-items: center;

        img {
            width: 26px;
            height: 26px;
            margin-right: 12px;
        }
    }

    #email-notifications-form {
        #email-notifications-error-message,
        #email-notifications-success-message {
            &:empty {
                display: none;
            }
        }
    }
}
