@use 'colors' as colors;

.dropzone {
    align-items: center;
    background-color: colors.$grey-background-color;
    border-color: colors.$grey-border-color;
    border-radius: 2px;
    border-style: dashed;
    border-width: 2px;
    color: #bdbdbd;
    display: flex;
    flex: 1;
    flex-direction: column;
    outline: none;
    padding: 20px;
    transition: border 0.24s ease-in-out;

    &:focus {
        border-color: #2196f3;
    }    
}
