.olz-termin-location-detail {
    .olz-location-map-link {
        display: block;
        margin: 0 -10px;

        .olz-location-map-render {
            width: 100%;
            height: 420px;
        }
    }
}
