.header-bar {
    background: linear-gradient(rgb(0, 200, 0), rgb(0, 100, 0));
    background-color: rgb(0, 150, 0);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.8);
    height: 150px;
    position: fixed;
    top: 15px;
    transition: top 0.5s, height 0.5s;
    width: 100%;
    z-index: 100;
}

.header-bar.minified {
    height: 42px;
    top: 0;
}

.header-content-container {
    height: 180px;
    margin: -15px auto;
    max-width: 1200px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.header-content-scroller {
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.header-content {
    align-items: center;
    display: flex;
    height: 180px;
    transition: opacity 0.5s;
}

.header-bar.minified .header-content-container {
    opacity: 0;
    pointer-events: none;
}

.header-box {
    margin: 10px 5px;
}

.above-header {
    height: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; /* account menu in front of header content */
}

.below-header {
    position: absolute;
    top: 150px;
    transition: top 0.5s;
    width: 100%;
    z-index: 1; /* menu in front of hidden header content */
}

.header-bar.minified .below-header {
    top: 42px;
}

.menu-container {
    margin: 0 auto;
    max-width: 1200px;
}

#olz-logo {
    height: 130px;
    margin-left: 10px;
    transition: margin 0.5s;
}

#menu-switch {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s;
    z-index: 1; /* menu switch in front of logo */
}

.menu-hamburger {
    position: absolute;
    transition: opacity 0.2s;
}

.menu-close {
    position: absolute;
    transition: opacity 0.2s;
}

.menu-container {
    transition: opacity 0.2s;
}

.menu-opened .menu-hamburger {
    opacity: 0;
}

.menu-closed .menu-close {
    opacity: 0;
}

.account-menu-container {
    margin: 0 auto;
    max-width: 1200px;
}

@media screen and (max-width: 1024px) {
    #olz-logo {
        margin-left: 30px;
    }

    #menu-switch {
        opacity: 1;
    }

    .menu-closed .menu-container {
        opacity: 0;
        pointer-events: none;
    }
}
