.olz-suche {
    pre {
        font-size: 10px;
        margin: 0;
    }

    .highlight {
        background-color: rgb(255,255,0);
        border-radius: 3px;
        // border: 1px solid rgb(255,0,0);
        color: rgb(255,0,0);
    }
}