.tile h2.weekly-picture-h2 {
    background-color: rgba(0,0,0,0.5);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
    padding-top: 10px;
    text-shadow: 1px 1px 3px #000;
    z-index: 1;
}

.tile-id-olz-weekly-picture-tile img {
    width: 100%;
    max-height: 280px;
    object-fit: cover;
    border: 0;
    border-radius: 3px;
}

#olz-weekly-image {
    display: inline;
}

#weekly-picture-carousel {
    .carousel-control-prev,
    .carousel-control-next {
        transition: background-color 0.2s, opacity 0.2s;
        background-color: rgba(0,0,0,0);

        &:hover {
            background-color: rgba(0,0,0,0.3);
        }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-size: 75% 75%;
    }
}

.weekly-picture-tile-text {
    background-color: rgba(0,0,0,0.5);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 1px 0;
    text-shadow: 1px 1px 3px #000;
    z-index: 10;
}

@media screen and (min-width: 560px) {
    .tile-id-olz-weekly-picture-tile img {
        max-height: 250px;
    }
}

@media screen and (min-width: 840px) {
    .tile-id-olz-weekly-picture-tile img {
        max-height: 220px;
    }
}
