.weekly-picture-tile-buttons {
    margin-bottom: 10px;
}

#olz-weekly-image {
    display: inline;
}

#olz-weekly-alternative-image {
    display: none;
}

.weekly-picture-tile-text {
    text-align: center;
    font-weight: bold;
    clear: left;
}
