#edit-role-button {
    margin-right: 8px;
}

.role-assignees {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;

    .assignee {
        flex: 0 0 150px;
        position: relative;

        #delete-role-user-button {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}