.olz-restricted-public-modal {
    .close-button {
        float: right;
    }

    .container {
        margin: 15px 10px;
    }

    #recaptcha-consent-given-input {
        margin-right: 10px;
    }
}