.markdown-notice {
    margin-left: 16px;
    font-style: italic;
    opacity: 0.5;
}

.olz-edit-modal {
    .modal-title {
        flex-grow: 1;
        margin: 0;
    }

    #delete-entity-button {
        margin-right: 8px;

        img {
            margin: 0 2px 0 0;
        }
    }
}