#edit-termin-modal {
    .modal-dialog {
        max-width: 1280px;
        width: 95%;
    }

    #text-input {
        height: 250px;
    }

    #types-container {
        margin-top: 10px;
    }

    .shouldPromote-container {
        margin-top: 28px;
    }

    .types-option {
        margin-right: 30px;

        input {
            margin-right: 10px;
        }
    }

    .termin-location-notice {
        margin-left: 16px;
        font-style: italic;
    }

    .hasNewsletter-container {
        text-align: right;
    }

    #shouldPromote-input,
    #hasNewsletter-input {
        margin-right: 10px;
    }

    .solv-disabled {
        opacity: 0.25;
    }
}
