#edit-termin-modal {
    .modal-dialog {
        max-width: 1280px;
        width: 95%;
    }

    .date-and-time {
        display: flex;

        .date {
            flex: 3 0 120px;

            .form-control {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .time {
            flex: 2 0 80px;

            .form-control {
                margin-left: -1px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    #text-input {
        height: 250px;
    }

    #types-container {
        margin-top: 10px;
    }

    .shouldPromote-container {
        margin-top: 28px;
    }

    .types-option {
        margin-right: 30px;

        input {
            margin-right: 10px;
        }
    }

    .termin-template-notice,
    .termin-location-notice {
        margin-left: 16px;
        font-style: italic;
    }

    .hasNewsletter-container {
        text-align: right;
    }

    #shouldPromote-input,
    #hasNewsletter-input {
        margin-right: 10px;
    }

    .solv-disabled {
        opacity: 0.25;
    }
}
