#edit-termin-modal {
    .modal-dialog {
        max-width: 1280px;
        width: 95%;
    }

    #termin-text-input {
        height: 150px;
    }

    #termin-link-input {
        height: 150px;
    }

    #termin-has-newsletter-input {
        margin-right: 10px;
    }

    #termin-types-container {
        margin-top: 10px;
    }

    .types-option {
        margin-right: 30px;

        input {
            margin-right: 10px;
        }
    }
}
