#edit-news-modal {
    .modal-dialog {
        max-width: 1280px;
        width: 95%;
    }

    #news-teaser-input {
        height: 80px;
    }

    #news-content-input {
        height: 150px;
    }
}
