.error-image-404 {
    float: right;
    margin: 0 20px 20px 0;
}

@media screen and (max-width: 832px) {
    .error-image-container-404 {
        text-align: center;
    }  

    .error-image-404 {
        float: none;
        margin: 0;
    }  
}
