@use '../../../Components/Common/OlzStyles/colors' as colors;

.olz-termin-templates-list-item {
    border-radius: 3px;
    clear: left;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 5px;
    position: relative;

    &:hover {
        background-color: colors.$banner-bg;
        text-decoration: none;
    }

    .link {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .content {
        pointer-events: none;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;

        a,
        button,
        .olz-author-badge {
            pointer-events: all;
        }
    }

    .date {
        flex: 0 0 90px;
        text-align: center;

        .date-calendars {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .title-text-container {
        flex: 1 0 100px;
        overflow: hidden;
        margin-left: 8px;
    }

    .title {
        font-weight: bold;
        font-size: 14px;
    }

    .type-icon {
        border: 0;
        height: 16px;
        margin: 0 0 0 10px;
    }

    .edit-termin-list-button {
        margin: -5px 0;

        img {
            display: block;
        }
    }

    .text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        * {
            display: inline;
        }
    }
}