@use '../../../Components/Common/OlzStyles/colors' as colors;

.olz-upload-file {
    background-color: colors.$white-background-color;
    border: 1px solid colors.$white-border-color;
    border-radius: 2px;
    height: 50px;
    margin: 4px;
    width: 258px;

    .progress-container {
        height: 16px;
        width: 256px;
    }

    &.uploading .info {
        height: 24px;
        overflow: hidden;
        padding: 4px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &.uploaded .uploaded-file-container {
        align-items: center;
        display: flex;
        height: 48px;
        padding: 4px 8px;

        .info {
            flex-grow: 1;
            line-height: 48px;
            overflow: hidden;
            padding: 0 4px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .button {
            background-color: rgba(0, 0, 0, 0);
            flex-grow: 0;
            height: 24px;
            width: 24px;

            img {
                border: 0;
            }
        }
    }
}
