#create-news-button {
    float: right;

    &.only-with-login {
        opacity: 0.6;
    }
}

.no-entries {
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
}

.page {
    &.hidden {
        display: none;
    }

    &.shown {
        display: block;
    }
}