.create-news-container {
    float: right;

    &.dropdown {
        background: none;
        border: 0;
    }

    .should-login {
        font-size: 90%;
        width: 400px;
        white-space: normal;
    }
}

.no-entries {
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
}

.page {
    &.hidden {
        display: none;
    }

    &.shown {
        display: block;
    }
}

.olz-no-access {
    margin-top: 50px;
    text-align: center;

    .auth-buttons {
        margin: 20px 50px;

        .btn {
            margin: 0 10px;
        }
    }
}
