.site-container {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    position: relative;
}

.site-background {
    background-color: #f2f2f2;
    background-image: url('../../../../public/icns/mainbg.svg');
    background-repeat: repeat;
    min-height: 700px;
    padding-top: 90px;
    position: relative;
}

@media screen and (min-width: 1200px) {
    .site-background {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}
