.olz-logs {
    background-color: rgb(255, 255, 255);
    margin-top: -15px;
}

.logs-header {
    position: sticky;
    top: 42px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(206, 212, 218);
    z-index: 10;

    .input-group {
        flex-wrap: nowrap;
    }

    .input-group-text .icon {
        width: 20px;
    }

    #date-filter-input {
        width: 350px;
    }

    .form-control.form-select {
        margin: 0 10px;
        width: auto;
    }
}

#logs {
    overflow-x: auto;
    white-space: nowrap;

    div,
    span {
        font-family: monospace;
        font-size: 9px;
    }

    .log-channel {
        font-weight: bold;
    }

    .error-message {
        margin: 50px 10px 40px;
        font-style: italic;
        text-align: center;
        font-family: inherit;
        font-size: 12px;
    }

    .log-line {
        &.level-debug {
            .log-level {
                color: rgb(100, 100, 100);
            }
        }

        &.level-info {
            .log-level {
                color: rgb(0, 100, 100);
            }
        }

        &.level-notice {
            .log-level {
                color: rgb(100, 100, 0);
            }
        }

        &.level-warning {
            .log-level {
                color: rgb(150, 100, 0);
            }
        }

        &.level-error {
            .log-level {
                color: rgb(150, 50, 0);
            }
        }

        &.level-critical {
            .log-level {
                color: rgb(180, 0, 0);
            }
        }

        &.level-alert {
            .log-level {
                color: rgb(220, 0, 0);
            }
        }

        &.level-emergency {
            .log-level {
                color: rgb(255, 0, 0);
            }
        }
    }

    .greyed-out {
        color: rgb(150, 150, 150);
    }

    &.levels-info-higher {
        .log-line.level-debug {
            display: none;
        }
    }

    &.levels-notice-higher {
        .log-line.level-debug {
            display: none;
        }

        .log-line.level-info {
            display: none;
        }
    }

    &.levels-warning-higher {
        .log-line.level-debug {
            display: none;
        }

        .log-line.level-info {
            display: none;
        }

        .log-line.level-notice {
            display: none;
        }
    }

    &.levels-error-higher {
        .log-line.level-debug {
            display: none;
        }

        .log-line.level-info {
            display: none;
        }

        .log-line.level-notice {
            display: none;
        }

        .log-line.level-warning {
            display: none;
        }
    }
}

#initial-position {
    position: relative;
}

#initial-scroll {
    position: absolute;
    top: -25vh;
}
