.apps-list {
    display: flex;
    flex-wrap: wrap;

    &.hypothetical {
        opacity: 0.5;
        pointer-events: none;
        user-select: none;
        filter: blur(1px);
    }

    .app-container {
        width: 160px;
        text-align: center;

        .app-icon {
            border: 0;
            max-width: 80px;
        }

        &:hover {
            .app-icon {
                filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
            }
        }
    }
}

.hypothetical-container {
    margin-top: 50px;
    position: relative;
}

.hypothetical-overlay {
    position: absolute;
    width: 100%;
    text-align: center;
}

.auth-buttons {
    margin: 20px 50px;

    .btn {
        margin: 0 10px;
    }
}

.openmoji-credits {
    margin-top: 30px;
    font-size: 80%;
}
