@use '../../../Components/Common/OlzStyles/colors' as colors;

.olz-progress-bar-container {
    background-color: colors.$grey-border-color;
    border-radius: 12px;
    height: 16px;
    margin: 4px;
    padding: 2px;
}

.olz-progress-bar {
    background-color: colors.$olz-bg;
    border-radius: 6px;
    height: 12px;
    transition: width 1s ease-out;
}
