#reset-password-modal {
    .instructions {
        font-weight: bold;
    }

    .help-link {
        margin-left: 16px;
    }

    #recaptcha-consent-given-input {
        margin-right: 10px;
    }
}
