* {
    font-family: Calibri,Verdana,Helvetica,sans-serif !important;
}

body {
    margin: 0 auto;
    max-width: 1000px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p {
    margin-bottom: 10px;
}

.navbar-collapse {
    margin: 0 auto;
    max-width: 1000px;
}

.nav-link {
    color: #14939d !important;
    font-weight: bold;
    margin-right: 10px;
}

.logo-container {
    position: absolute;
    right: 0;
    width: 140px;
}

.logo-img {
    height: 100px;
    position: absolute;
    top: -20px;
}

.header-carousel {
    margin-top: 56px;
}

.header-carousel img {
    min-height: 350px;
    object-fit: cover;
}

#header-text {
    bottom: 20px;
    color: #fff;
    height: 66%;
    left: 15%;
    padding-bottom: 20px;
    padding-top: 20px;
    position: absolute;
    right: 15%;
    text-align: center;
    text-shadow: 1px 1px 3px #000;
    z-index: 10;
}

.section-title {
    background-color: #00a3ae;
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 8px 16px;
}

.section-title.sticky-top {
    top: 56px;
}

.first-line {
    font-size: 20px;
    font-weight: bold;
}

.second-line {
    font-size: 14px;
    font-weight: bold;
}

.title-anchor,
.content-anchor {
    position: relative;
}

.title-anchor span[id] {
    position: absolute;
    top: -56px;
}

.content-anchor span[id] {
    position: absolute;
    top: -118px;
}

.content {
    margin: 20px 20px 0;
}

.content .info-table td {
    border-top: solid #888 1px;
    vertical-align: top;
}

.content .info-table td:first-child {
    width: 33%;
}

.content .row img {
    max-width: 100%;
}

.row {
    align-items: center;
    display: flex;
    justify-content: center;
}

.row .col {
    text-align: center;
}

.organisatoren.row {
    height: 100px;
    margin: 50px 0;
}

.organisatoren.row img {
    max-height: 100px;
}

.sponsor .row {
    height: 100px;
}

.sponsor-padding {
    height: 100px;
}
