* {
    font-family: Calibri,'Open Sans',Verdana,Helvetica,sans-serif !important;
}

body {
    margin: 0 auto;
    max-width: 900px;
}

#header-text h1 {
    font-size: 3em;
}

#header-text h2 {
    font-size: 2em;
}

p {
    margin-bottom: 10px;
}

.navbar-collapse {
    margin: 0 auto;
    max-width: 900px;
}

.nav-link {
    color: #14939d !important;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    margin-right: 10px;
    padding-bottom: 0;
    padding-top: 0;
}

.dropdown-menu {
    width: 250px;
}

.logo-container {
    position: fixed;
    right: 0;
    width: 180px;
    z-index: 10000;
}

.logo-img {
    height: 130px;
    position: absolute;
    top: -63px;
}

.header-carousel {
    margin-top: 72px;
}

.header-carousel img {
    min-height: 350px;
    object-fit: cover;
}

#header-text {
    bottom: 20px;
    color: #fff;
    height: 66%;
    left: 15%;
    padding-bottom: 20px;
    padding-top: 20px;
    position: absolute;
    right: 15%;
    text-align: center;
    text-shadow: 1px 1px 3px #000;
    z-index: 10;
}

.section-title {
    background-color: #00a3ae;
    color: #fff;
    font-size: 18px;
    margin: 0;
    min-height: 58px;
    padding: 8px 16px;
}

.section-subtitle {
    background-color: #00a3ae;
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 8px 16px;
}

.section-title.sticky-top {
    top: 72px;
}

.first-line {
    font-size: 20px;
    font-weight: bold;
}

.second-line {
    font-size: 14px;
    font-weight: bold;
}

.title-anchor,
.content-anchor {
    position: relative;
}

.title-anchor span[id] {
    position: absolute;
    top: -72px;
}

.content-anchor span[id] {
    position: absolute;
    top: -134px;
}

.content {
    margin: 20px 20px 0;
}

.content .info-table td {
    border-top: solid #888 1px;
    vertical-align: top;
}

.content .info-table td:first-child {
    width: 33%;
}

.content .row img {
    max-width: 100%;
}

ul.news {
    padding-left: 20px;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row .col {
    text-align: center;
}

.sponsors .col {
    margin: 50px 0;
    min-height: 150px;
}

.sponsors .col img {
    max-height: 150px;
    max-width: 200px;
}

.sponsor-padding {
    height: 100px;
}

@media screen and (max-width: 900px) {
    #header-text h1 {
        font-size: 6vw;
    }

    #header-text h2 {
        font-size: 4vw;
    }

    .section-title {
        min-height: 98px;
    }

    .title-anchor span[id] {
        top: -110px;
    }

    .content-anchor span[id] {
        top: -172px;
    }

    .row {
        flex-direction: column;
    }

    .sponsors .col {
        margin: 10px 0;
    }

    .sponsors .col:empty {
        height: 0;
        margin: 0;
        min-height: 0;
    }
}
