#edit-news-button {
    margin-right: 8px;
}

.olz-termin-detail {
    .olz-location-map-link {
        display: block;
        margin: 0 -10px;
    }

    .olz-location-map-img {
        width: 100%;
    }
}
