.user-selected {
    .dropdown-toggle {
        border-color: rgb(0,150,0);
        color: rgb(0,150,0);

        &:hover, &.show {
            background-color: rgb(0,150,0);
            color: rgb(255,255,255);
        }
    }
}

.role-selected {
    .dropdown-toggle {
        border-color: rgb(0,150,0);
        color: rgb(0,150,0);

        &:hover, &.show {
            background-color: rgb(0,150,0);
            color: rgb(255,255,255);
        }
    }
}

.badge {
    display: inline-flex;
    align-items: center;
    height: 18px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: normal;
    padding: 0 5px;
}

.user-choice {
    padding-top: 0;

    .badge {
        color: rgb(0,150,0);
        border: 1px solid rgb(0,150,0);
    }

    &:active {
        background-color: rgb(0,100,0);

        .badge {
            background-color: rgb(255,255,255);
        }
    }
}

.role-choice {
    padding-top: 0;

    .badge {
        background-color: rgba(0,150,0, 0.1);
        color: rgb(0,150,0);
        border: 1px solid rgb(0,150,0);
    }

    .author-icon {
        border: 0;
        height: 14px;
        margin: 0 -2px 0 4px;
    }

    &:active {
        background-color: rgb(0,100,0);

        .badge {
            background-color: rgb(255,255,255);
        }
    }
}