.olz-members {
    .form-control {
        margin: 0 10px;
        width: auto;
    }

    .export-bar {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-top: 12px;
    }

    #member-table {
        table-layout: fixed;

        th {
            height: 32px;
            line-height: 32px;
            padding: 0 5px;

            &.ident {
                width: 10%;
            }
            &.username {
                width: 20%;
            }
            &.user-info {
                width: 20%;
            }
            &.status {
                width: 10%;
            }
            &.updates {
                width: 40%;
            }
        }

        td {
            height: 22px;
            line-height: 22px;
            padding: 0 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
