.olz-user-detail {
    .edit-user-container {
        float: right;
    }

    .image-container {
        padding: 10px;
    }

    .image {
        border: 3px solid rgb(255, 255, 255);
        border-radius: 84px;
        box-shadow: 0 0.5px 3px rgba(0, 0, 0, 0.8);
        height: 84px;
        margin: 5px;
        object-fit: cover;
        transition: width 0.5s, height 0.5s, margin 0.5s;
        width: 84px;
    }

    .name-container {
        padding: 0 10px 10px;
    }

    .info-container {
        font-size: 12px;
        padding: 5px 10px 5px;
    }

    .forwarded-emails {
        width: auto;

        th, td {
            padding: 2px 10px;
        }
    }
}
