$olz-bg-ultra-bright: #00cc00 !default;
$olz-bg-bright: #00aa00 !default;
$olz-bg: #008800 !default; // must be below 8b to have dark character in bootstrap.
$olz-bg-dark: #007700 !default;
$olz-bg-ultra-dark: #006600 !default;

$banner-bg: #d4e7ce !default;

$white-background-color: #fff;
$white-border-color: #eee;
$grey-background-color: #fafafa;
$grey-border-color: #eee;
