.olz-anniversary {
    .activities-table {
        width: auto;

        td {
            padding: 2px 5px;
        }

        .header td {
            font-weight: bold;
        }

        .edit-run-list-button {
            margin: -6px -12px;
        }
    }
}