.olz-anniversary {
    .elevation-stats {
        margin: 10px 0;
    }

    .done-graph {
        position: relative;
        margin: 10px 0 5px 0;
        height: 30px;
    }

    .done-range {
        position: absolute;
        width: 100%;
        height: 30px;
        background-color: rgba(0,0,0,0.1);
    }

    .done-bar {
        position: absolute;
        width: 100%;
        height: 30px;
        background-color: #008800;
    }

    .rocket {
        position: absolute;
        top: -36px;
        transform: matrix(0, -1, -1, 0, -50, 0);

        svg {
            width: 75px;
        }
    }

    .diff-graph {
        position: relative;
        margin: 20px 0 5px 0;
        height: 30px;
    }

    .diff-range {
        position: absolute;
        top: 2px;
        width: 100%;
        height: 10px;
        background-color: rgba(0,0,0,0.1);
    }

    .diff-bar {
        position: absolute;
        top: 2px;
        height: 10px;

        &.ahead {
            left: 50%;
            background-color: #008800;
        }

        &.behind {
            right: 50%;
            background-color: #aa0000;
        }
    }

    .marker {
        position: absolute;
        height: 14px;
        border-left: 1px solid black;
    }
    
    .marker-text {
        position: absolute;
        top: 14px;
        height: 14px;
        margin-left: -50px;
        width: 100px;
        text-align: center;
    }
        
    .diff-meters,
    .diff-days {
        font-weight: bold;

        &.ahead {
            color: #008800;
        }

        &.behind {
            color: #aa0000;
        }
    }

    .activities-table {
        clear: both;
        overflow-y: hidden;
        overflow-x: auto;

        table {
            width: auto;
        }

        td {
            padding: 2px 5px;
            white-space: nowrap;

            img {
                margin: -1px 0;
            }
        }

        .header td {
            font-weight: bold;
        }

        .edit-run-list-button {
            margin: -6px -12px;
        }
    }

    #create-run-button {
        float: right;
    }

    .admin-only {
        border: 1px solid #aa0000;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.1);
        padding: 5px;
        margin: 5px 0;
    }

    .admin-only-text {
        color: #aa0000;
        font-style: italic;
        text-align: center;
    }

    table .number {
        text-align: right;
    }
}