#edit-role-modal {
    .modal-dialog {
        max-width: 1280px;
        width: 95%;
    }

    #description-input {
        height: 200px;
    }

    #guide-input {
        height: 200px;
    }

    #images-upload,
    #files-upload {
        margin-bottom: 12px;
    }

    #canHaveChildRoles-input {
        margin-right: 10px;
    }

    .checkbox-field {
        margin-top: 28px;
    }
}
