.tile-id-olz-termine-deadlines-tile {
    hr {
        margin: 8px 0;
    }

    .deadline-image {
        position: relative;
        border-radius: 3px;
        overflow: hidden;

        a {
            display: block;
            width: 100%;
        }

        .overlay {
            position: absolute;
            z-index: 1;
            bottom: 15px;
            left: 0;
            right: 0;
            width: 100%;
            padding: 1px 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            text-shadow: 1px 1px 3px #000;

            .date {
                font-weight: bold;
            }
        }

        .blurry-image img {
            width: 100%;
            height: 72px;
            object-fit: cover;
            filter: blur(2px);
        }

        .sharp-image img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 72px;
            object-fit: contain;
        }
    }
}