.site-container {
    max-width: 1200px;
    margin: 0px auto 20px;
    padding-top: 180px;
    background-image: url('icns/mainbg.png');
    background-repeat: repeat;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

@media screen and (max-width: 1200px) {
    .site-container {
        min-height: 100%;
        margin: 0px auto 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

#content_wrapper {
    height:100%;
    position:relative;
}

#content_mitte {
    height:100%;
    position:relative;
    margin:0px 300px 0px 180px;
    padding:10px 10px 10px 10px;
    border-right:solid 2px white;
    border-left:solid 2px white;
}

#content_rechts {
    width:300px;
    height:100%;
    float:right;
    padding-top:10px;
}

#content_double {
    height:100%;
    position:relative;
    margin:0px 0px 0px 180px;
    padding:10px;
}

@media screen and (max-width: 1024px) {
    #content_mitte {
        margin:0px 300px 0px 0px;
    }

    #content_double {
        margin:0px 0px 0px 0px;
    }
}

@media screen and (max-width: 832px) {
    #content_mitte {
        margin:0px 0px 0px 0px;
    }

    #content_rechts {
        width: auto;
        float: none;
    }
}
