#content_mitte {
    height:100%;
    position:relative;
    margin:0px 300px 0px 180px;
    padding:0px 10px 10px 10px;
    border-right:solid 2px white;
    border-left:solid 2px white;
}

#content_rechts {
    width:300px;
    height:100%;
    float:right;
}

#content_double {
    height:100%;
    position:relative;
    margin:0px 0px 0px 180px;
    padding:0 10px 10px 10px;
}

@media screen and (max-width: 1024px) {
    #content_mitte {
        margin:0px 300px 0px 0px;
    }

    #content_double {
        margin:0px 0px 0px 0px;
    }
}

@media screen and (max-width: 832px) {
    #content_mitte {
        margin:0px 0px 0px 0px;
    }

    #content_rechts {
        width: auto;
        float: none;
    }
}
