.menu {
    position: absolute;
    width: 180px;
    padding-top: 15px;
}

@media screen and (max-width: 1024px) {
    .menu {
        background-image: url('icns/mainbg.png');
        background-repeat: repeat;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.8);
    	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.8);
    }
}
