#edit-user-modal {
    .modal-dialog {
        max-width: 1280px;
        width: 95%;
    }

    .data-protection-section {
        margin-bottom: 10px;
    }

    #images-upload {
        margin-bottom: 12px;
    }
}

.required-field-asterisk {
    color: #ff0000;
    font-weight: bold;
}