.bg-telegram {
    background-color: rgb(43, 162, 213);
}

.telegram-card {
    margin: 1px;
    min-width: 50%;

    p {
        margin: 0 0 1rem;
    }

    img {
        border: 0;
    }

    a.linkwhite {
        color: rgb(255, 255, 255);
    }

    .card-header {
        align-items: center;
        display: flex;

        img {
            height: 26px;
            margin-right: 12px;
            width: 26px;
        }
    }

    #telegram-notifications-form {
        #telegram-notifications-error-message,
        #telegram-notifications-success-message {
            &:empty {
                display: none;
            }
        }
    }
}
