@use '../../../Components/Common/OlzStyles/colors' as colors;

.olz-author-badge {
    display: inline-flex;
    align-items: center;
    color: rgb(100,100,100);
    border: 1px solid rgb(150,150,150);
    border-radius: 12px;
    font-size: 12px;
    font-weight: normal;
    padding: 0 5px;

    .author-icon {
        border: 0;
        height: 14px;
        margin: 0 -2px 0 4px;
    }

    &.has-popup:hover {
        color: rgb(50,50,50);
        border: 1px solid rgb(75,75,75);
    }

    &.level-user {
        color: colors.$olz-bg;
        border: 1px solid colors.$olz-bg;

        &.has-popup:hover {
            color: rgb(0,75,0);
            border: 1px solid rgb(0,75,0);    
        }
    }

    &.level-role {
        background-color: rgba(0,150,0, 0.1);
        color: colors.$olz-bg;
        border: 1px solid colors.$olz-bg;

        &.has-popup:hover {
            background-color: rgba(0,75,0, 0.1);
            color: rgb(0,75,0);
            border: 1px solid rgb(0,75,0);    
        }
    }
}

#author-badge-modal {
    .author-data {
        .user-data {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        img.avatar {
            border: 3px solid rgb(255, 255, 255);
            border-radius: 84px;
            box-shadow: 0 0.5px 3px rgba(0, 0, 0, 0.8);
            height: 84px;
            margin: 5px;
            object-fit: cover;
            width: 84px;
        }

        .chunk {
            margin-right: -2.5px;
            white-space: nowrap;
        }

        #copy-button {
            border: 0;
            border-radius: 12px;
            margin-left: 8px;

            img {
                border: 0;
                padding: 4px;
            }
        }
    }
}
